{% include 'include/header.html' %}
    <div class="container">
      <div class="starter-template">
        <h1>Login</h1>
        <br/>
        <br/>
        <div>
            <div>
              <form method="POST" action="/signup">
                <div>ID : <input class="input is-large" type="id" name="id" placeholder="Your ID"></div>
                <br/>
                <div>PW : <input class="input is-large" type="password" name="password" placeholder="Your Password"></div>
                <br/>
                <div>Auth : <input class="input is-large" type="authority" name="authority" placeholder="Your Authority"></div>
                <br/>
                <button class="button is-block is-info is-large is-fullwidth">submit</button>
                </div>
              </form>
            </div>
        </div>
      </div> 
    </div><!-- /.container -->
  

    
{% include 'include/footer.html' %}
